<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body ng-app="beerApp">
<div ng-controller="BeerCtrl">
    <h1>AngularJS Beer App, version {{appVersion}}</h1>
    {{friendlyGreeting}}
    <br>
    <br>
    Added beers:<br>
    <ul>
        <li ng-repeat="beer in beers">
            {{beer.name}} {{beer.alcohol}}
            <button ng-click="deleteBeer(beer)">Delete</button>
        </li>
    </ul>
    Beer to add: {{newBeer.name}} {{newBeer.alcohol}}<br>
    <br>
    Name: <input type="text" ng-model="newBeer.name"><br>
    Alcohol: <input type="text" ng-model="newBeer.alcohol">
    <button ng-click="addBeer(newBeer)">Beer me</button>
</div>
</body>
</html>